<p>Olá
<strong>
   {{entregador}}
</strong>
!</p>

<p>
  Você possui uma <strong>nova encomenda disponível para entrega!</strong>
</p>
<p>
  <strong>Produto: </strong> {{produto}} <br />
  <strong>Nome: </strong> {{local}} <br />
  <strong>Rua: </strong>{{rua}}<br />
  <strong>Numero: </strong> {{numero}}<br />
  <strong>Complemento: </strong> {{complemento}}<br />
  <strong>Estado: </strong> {{estado}} <br />
  <strong>Cidade: </strong> {{cidade}} <br />
  <strong>CEP: </strong> {{cep}} <br />
</p>
